* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url('/images/background.jpg');
    background-size: 100% 100%;
}
/* StartPage */
.headImg {
    margin-top: 20px;
    width: 100%;
    height: 400px;
    position: relative;
}

.centered {
    color: white;
    background-color: #8d776a;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.onPhoto {
    margin-bottom: 0;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
}

.headPhoto {
    width: 100%;
    height: 100%;
}

.aboutTitle {
    text-align: center; 
    margin-top: 20px; 
    font-size: 3.5rem;
    font-family: Rubik,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.unTitle {
    padding-top: 15px;
    font-size: 2rem;
    font-family: Arial, sans-serif;
}

.startListing {
    text-align: left;
     font-size: 1.5rem;
    font-family: Arial, sans-serif;
}

.allertSticker {
    margin: 0;
    background-color: #8d776a;
    position: fixed; 
    bottom: 0;
    left: 10%;
    text-align: center;
    margin-top: 20px;
    font-size: 1.5rem;
    font-family: Rubik,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
}

.authLink {
    /* color: #212529; */
    color: white;
}

/* AUTH + REGISTRATION */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bodyForm {
    margin-top: 10%;
    background-size: 200% 100% !important;
    animation: move 10s ease infinite;
    transform: translate3d(0, 0, 0);
    /* background: linear-gradient(45deg, #49D49D 10%, #A2C7E5 90%); */
    height: 90vh
}

.user {
    width: 90%;
    max-width: 340px;
    margin: auto;
}

.user__header {
    text-align: center;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.7s forwards;
}

.underForm {
    margin: auto;
    width: 25%;
    background-color: #8d776a;
    border-radius: 6px;
    padding: 20px;
    padding-bottom: 25px;
}

.user__title {
    margin-bottom: -10px;
    font-weight: 500;
    color: white;
}

.form {
    margin-top: 40px;
    border-radius: 6px;
    overflow: hidden;
    opacity: 0;
    transform: translate3d(0, 500px, 0);
    animation: arrive 500ms ease-in-out 0.9s forwards;
}

.form--no {
    animation: NO 1s ease-in-out;
    opacity: 1;
    transform: translate3d(0, 0, 0);
}

.form__input {
    display: block;
    width: 100%;
    padding: 20px;
    -webkit-appearance: none;
    border: 0;
    outline: 0;
    transition: 0.3s;    
}
.form__input:focus {
    background: darken(#fff, 3%);
}

.buton {
    display: block;
    width: 100%;
    padding: 20px;
    -webkit-appearance: none;
    outline: 0;
    border: 0;
    color: white;
    background: #ABA194;
    transition: 0.3s;
}

.btn:hover {
    background: darken(#ABA194, 5%);
}

@keyframes NO {
  from, to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%, 30%, 50%, 70%, 90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%, 40%, 60%, 80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes arrive {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
    
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes move {
    0% {
        background-position: 0 0
    }

    50% {
        background-position: 100% 0
    }

    100% {
        background-position: 0 0
    }
}

/* NAVBAR */

.navbar {
    height: 80px;
    font-size: 20px;
}

.castomLogo {
    color: white;  
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 35px;
}

.castomLogo:hover {
    color: white;
}

.navbar-castom {
    background-color: #8d776a;
}

.myColor {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
    padding: 0px;
    margin: 8px;
    text-align: center;
    vertical-align: auto;
}

.myColor:hover {
    color: white;
}


/* footer */
.footerLinks {
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
}

.footerLinks:hover {
    color: black;
}

.footer {
    margin-top: 20px;
    text-align: center;
    font-size: 1.2rem;
    font-family: Arial, sans-serif;
    color: white;
    background-color: #8d776a;
    height: 2em;
vertical-align: auto;
}

.vertical {
padding-top: 7px;
}

.container-castom {
    max-width: 85%;
    margin: auto;
}

/* CARDS ALBUMS */

section::before {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	clip-path: circle(30% at right 70%);
}

section::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	clip-path: circle(20% at 10% 10%);
}

.container {
	position: relative;
	z-index: 1;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	margin: 40px 0;
}

.container .card {
	position: relative;
	width: 300px;
	height: 400px;
	/* background: rgba(255, 255, 255, 0.05); */
    background: #8d776a;
	margin: 20px;
	box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
	border-radius: 15px;
	display: flex;
	justify-content: center;
	align-items: center;
	backdrop-filter: blur(10px);
}

.container .card .content {
	position: relative;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	transition: 0.5s;
}

.container .card:hover .content {
	transform: translateY(-20px);
}

.container .card .content .imgBx {
	position: relative;
	width: 150px;
	height: 150px;
	overflow: hidden;
}

.container .card .content .imgBx img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container .card .content .contentBx h3 {
	color: #fff;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 500;
	font-size: 25px;
	text-align: center;
	margin: 20px 0 10px;
	line-height: 1.1em;
}

.container .card .content .contentBx h3 span {
	font-size: 12px;
	font-weight: 300;
	text-transform: initial;
    color: white;
}

.container .card .sci {
	position: absolute;
	bottom: 50px;
	display: flex;
}

.sci {
    padding: 0;
}

.container .card .sci li {
	list-style: none;
	margin: 0 10px;
	transform: translateY(40px);
	transition: 0.5s;
	opacity: 0;
}

.container .card:hover .sci li {
	transform: translateY(0px);
	opacity: 1;
}

.container .card .sci li a {
	color: #fff;
	font-size: 20px;
}

.noLined {
    text-decoration: none;
    font-family: Arial, sans-serif;

}

.noLined:hover {
    color: white;
}

.containerHome{
margin-bottom: 300px;
}

/* PHOTOS */
 .borderedForm {
    border: 5px solid;
    border-radius: 10px;
    width: 70%;
    margin: auto;
    padding-right: 400px;
 }

 .castomHelp {
    text-align: center; 
    margin-top: 20px; 
    font-size: 2.5rem;
    font-family: Rubik,sans-serif;
    font-weight: 700;
    letter-spacing: 1px;
 }

 .kawai{
    position: absolute;
    z-index: 10;
    width: 350px;
    height: 350px;
    right: 2%;
    bottom: -21px;
 }